
/*Gestor Cursos diseños*/
.modal-cursos {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-cursos.active {
    display: flex;
}

.modal-cursos__content {
    background-color: rgb(62, 79, 104);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    position: relative;
}

.modal-cursos__content input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

.modal-cursos__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.modal-cursos__content h2 {
    color: white;
    margin: 0;
}