*{
    margin: 0%;
    font-family: "Exo 2", sans-serif;
}
html, body{
    height:100%;
}
.register_logo {
    width: 100px;
    height: 100px;
}

.background{
    display: flex;
    justify-content: center;   /* centra vertical */
    align-items: center;       /* centra horizontal */
    min-height: 100vh;  /*para que no funcione solo en pc de mesa, lo obligo a tener un minimo*/
    background: url(../media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background_img {
    background-color: rgb(48, 58, 73);
    text-align: center;
    border-radius: 15px;
    color: white;
    width: 90%;
    max-width: 400px;   /* controla tamaño en pc */
    padding: 30px;
    border: 4px groove rgb(207, 207, 207);
}

.background_img p{
    font-size: 28px;
    margin-top: 2%;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    text-shadow: -4px 4px 1px rgb(12, 24, 37);
}

h4{
    margin-top: 10%;
    color: rgb(23, 23, 36);
    font-weight: 300;
}
.boton-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 15%;
}

.rolBtn{
    background-color: #306844;
    color: rgb(5, 46, 10);
    border: none;
    border-radius: 4px;
    width: 60%;
    height: 50px;
    box-shadow: -0px 5px 3px rgb(29, 30, 49);
    font-family: "Exo 2", sans-serif;
    font-size: 28px;
}

.tittle{
    margin-bottom: 10%;
}




.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal.activo {
    display: flex;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.loginBtn {
    width: 95%;
    padding: 10px;
    background-color: #306844;
    color: white;
    border: none;
    border-radius: 5px;
}

.cerrar {
    float: right;
    font-size: 25px;
    cursor: pointer;
}